.collapsible {
    background-color: rgb(6, 122, 15);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: flex;
    justify-content: center;
  }
  
  .active, .collapsible:hover {
    background-color: rgb(44, 189, 25);
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    width: 250px;
    font-size: 20px;
  }

  a{
      text-decoration: none;
  }

  #infoTab{
    position: absolute;
    top: 136px;
    left: 1800px;
  }

  #infoTab ul li a{
      margin-top: 20px;
  }