#btnTickable{
    margin-left: 100px;
}
#slideshowP{
    color: white;
    background-color: darkgreen;
    padding: 10px;
    font-size: 25px;
    border-radius: 2px;
}
#slideshowContainer{
    position: absolute;
    top: 135px;
    left: 200px;
    background-color: rgb(36,176,76);
    border: black solid 1px;
}
#btnMore{
    margin-left: 5px;
    border: none;
}
#twoSec::before{
    content: 'two seconds: ';
}
#fiveSec::before{
    content: "five seconds: ";
}
#tenSec::before{
    content: 'ten seconds: ';
}
/* #btnMore:hover{
    transform: rotate(180deg);
    transition: ease-in-out 0.5s;
} */